<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSMicrophoneUsageDescription</key>
    <string>The app requires access to your microphone for the voice recording feature.</string>
    <key>NSCameraUsageDescription</key>
    <string>The app requires access to your camera for capturing photos and videos.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>此应用需要访问您的照片库以管理和查看照片。</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>此应用需要向您的照片库添加照片。</string>
</dict>
</plist>